<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
	<head th:fragment="head">
    	<meta charset="utf-8">
    	<title>Wild Circus</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/css/uikit.min.css" />
	</head>
	
	<body class="uk-container">
		<header th:replace="admin :: header_admin"> </header>
		<h1 class="uk-text-large">Gestion des Groupe </h1>

		<a class="uk-link-heading" th:href="@{/admin/groupe/update}"><span uk-icon="plus"></span>  Ajouter un Groupe</a>
	
		
		<table class="uk-table uk-table-hover uk-table-divider uk-margin uk-margin-auto-right uk-margin-auto@m uk-card uk-card-default uk-card-body">
		    <thead>
		        <tr>
		            <th>id</th>
		            <th>Nom</th>
		            <th>Description</th>
		            <th>Picture</th>
		            <th>Spectacle</th>
		            <th></th>
		            
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="groupe : ${groupes}">
		            <td th:text="${groupe.id}"></td>
		            <td th:text="${groupe.name}">Table Data</td>
		            <td th:text="${groupe.description}">Table Data</td>
		            <td><img th:data-src="${groupe.picture}" width="150" th:alt="|image du groupe : ${groupe.name}|" uk-img></td>
		            <td th:text="${groupe.spectacle.title}">Table Data</td>
		            <td>
		            	<ul class="uk-iconnav uk-iconnav-vertical">
		            		<li><a th:href="@{/admin/groupe/update(id=${groupe.id})}" uk-icon="icon: file-edit"></a></li>
		            		<li><a th:href="@{/admin/groupe/delete(id=${groupe.id})}" onclick="return confirm('Etes vous sûr de vouloir supprimer ce groupe ?')" uk-icon="icon: trash"></a></li>
		            	</ul>
		            </td>
		        </tr>
		    </tbody>
		</table>

	</body>
	<div th:replace="layout :: script"></div>
</html>